<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>尚硅谷会员注册页面</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }

        h1 a {
            color: red;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            $(".toIndex").click(function () {
                alert("")
                $(":submit").submit();
                return false;
            })

            setTimeout(function () {
                location.href = "../index.html";
            }, 2000);
        })
    </script>
</head>
<body>
<div id="header">
    <a href="../index.html">
        <img class="logo_img" alt="" th:src="@{/static/img/logo.gif}"/>
    </a>
    <div>
        <span>欢迎<span class="um_span" th:value="${session.user.username}"></span>光临尚硅谷书城</span>
        <a class="toOrder" th:href="@{/WEB-INF/pages/order/order.html}">我的订单</a>
        <a class="toIndex" th:href="@{/WEB-INF/pages/index.html}">注销</a>&nbsp;&nbsp;
        <a class="toIndex" th:href="@{/WEB-INF/pages/index.html}">返回</a>
    </div>
</div>

<div id="main">
    <form method="post" action="index.do">
        <input hidden="hidden" name="operate" value="toIndex">
        <input type="submit" value=" 欢迎回来 转到主页"/>
    </form>

</div>

<div id="bottom">
			<span>
				尚硅谷书城.Copyright &copy;2015
			</span>
</div>
</body>
</html>