<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>尚硅谷会员注册页面</title>
    <!--替换正则：(href|src)(=\")(\.\./\.\./\.\.)(/\w+/\w+/\w+\.\w+)(\")-->
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/register.css}"/>
    <style type="text/css">
        .login_form {
            height: 420px;
            margin-top: 25px;
        }
    </style>
    <script type="text/javascript" th:src="@{/static/script/jquery-1.7.2.js}"></script>
    <script type="text/javascript">

        $(function () {

            // 用户名校验
            let usernameMark = false;
            let $usernameInput = $(".errMess:eq(0)").prev().children(":text");
            $usernameInput.change(function () {
                // let usernameReg = new RegExp("^(\\d|\\w){6, 16}$");
                let usernameReg = new RegExp("^[a-z0-9_-]{6,16}$");
                alert("val = " + $(this).val());
                let $usernameErr = $usernameInput.parent().next();
                if (usernameReg.test($(this).val())) {
                    usernameMark = true;
                    $usernameErr.hide()
                } else {
                    usernameMark = false;
                    $usernameErr.show()
                }
            })

            // 密码校验
            let password1;
            let password2;
            let passwordMark = false;
            let $passwordInput1 = $(".errMess:eq(1)").prev().children(":password");
            $passwordInput1.change(function () {
                alert("val = " + $(this).val());
                let $usernameErr = $passwordInput1.parent().next();
                if ($(this).val().length >= 8) {
                    $usernameErr.hide()
                } else {
                    $usernameErr.show()
                }
            })
            let $passwordInput2 = $(".errMess:eq(2)").prev().children(":password");
            $passwordInput2.change(function () {
                alert("val = " + $(this).val());
                let $usernameErr = $passwordInput2.parent().next();
                if ($(this).val().length >= 8 && password1 === password2) {
                    passwordMark = true;
                    $usernameErr.hide()
                } else {
                    passwordMark = false;
                    $usernameErr.show()
                }
            })

            // 邮箱校验
            let emailMark = false;
            let $emailInput = $(".errMess:eq(3)").prev().children(":text");
            $emailInput.change(function () {
                // let emailReg = new RegExp("((\\d+)|(\\w+))@((\\d+)|(\\w+))\\.((\\d+)|(\\w+))");
                let emailReg = new RegExp("^([a-z0-9_\.-]+)@([\\da-z\.-]+)\\.([a-z\.]{2,6})$");
                alert("val = " + $(this).val());
                let $emailErr = $emailInput.parent().next();
                if (emailReg.test($(this).val())) {
                    $emailErr.hide()
                    emailMark = true;
                } else {
                    emailMark = false;
                    $emailErr.show()
                }
            })

            // btn
            $(".btn:last").click(function () {
                if (usernameMark && passwordMark && emailMark) {
                    $("#register-form").submit();
                }
            })
        })

    </script>
</head>
<body>
<div id="login_header">
    <a th:href="@{/page.do?operate=toIndex&isExit=false}">
        <img class="logo_img" alt="" th:src="@{/static/img/logo.gif}"/>
    </a>
</div>

<div class="login_banner">
    <div class="register_form">
        <h1>注册尚硅谷会员</h1>
        <form id="register-form" th:action="@{/user.do}" method="post">
            <input type="hidden" name="operate" value="register">
            <div class="form-item">
                <div>
                    <label>用户名称:</label>
                    <input type="text" name="username" placeholder="请输入用户名"/>
                </div>
                <span class="errMess">用户名应为6~16位数字和字母组成</span>
            </div>
            <div class="form-item">
                <div>
                    <label>用户密码:</label>
                    <input type="password" name="password" placeholder="请输入密码"/>
                </div>
                <span class="errMess">密码的长度至少为8位</span>
            </div>
            <div class="form-item">
                <div>
                    <label>确认密码:</label>
                    <input type="password" placeholder="请输入确认密码"/>
                </div>
                <span class="errMess">密码两次输入不一致</span>
            </div>
            <div class="form-item">
                <div>
                    <label>用户邮箱:</label>
                    <input type="text" name="email" placeholder="请输入邮箱"/>
                </div>
                <span class="errMess">请输入正确的邮箱格式</span>
            </div>
            <div class="form-item">
                <div>
                    <label>验证码:</label>
                    <div class="verify">
                        <input type="text" placeholder=""/>
                        <img th:src="@{/static/img/code.bmp}" alt=""/>
                    </div>
                </div>
                <span class="errMess">请输入正确的验证码</span>
            </div>
            <button class="btn">注册</button>
        </form>
    </div>
</div>
<div id="bottom">
      <span>
        尚硅谷书城.Copyright &copy;2015
      </span>
</div>
</body>
</html>
