<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/static/css/minireset.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/cart.css}"/>
    <script type="text/javascript" th:src="@{/static/script/J-3.6.0.js}"></script>
    <script type="text/javascript">
        $(function () {
            // 计算总金额
            $(".cart-item-checkbox").each(function () {

                $(this).click(function () {
                    let sumPrice = 0;
                    $(".cart-item-checkbox:checked").each(function () {
                        let number = $(this).parent().siblings(":last").text() - 0;
                        sumPrice += number;
                    })
                    $("#all-price-span").text(sumPrice);
                })
            });

            // 增加书籍数量
            $(".count-add").each(function () {
                $(this).click(function () {
                    let buyCount = $(this).prev().val() - 0;
                    $(this).prev().val(buyCount + 1);
                })
            });
            // 减少书籍数量
            $(".count-minus").each(function () {
                $(this).click(function () {
                    let buyCount = $(this).next().val() - 1;
                    $(this).next().val(buyCount);
                })
            });
            // 绑定鼠标离开表单事件
            $(".buy-count-form").each(function () {
                $(this).mouseout(function () {
                    // alert($(this).children(":submit").is(":submit"))
                    // alert($(this).children().last().is(":submit"))
                    // if (confirm("确定修改数量吗？")) {
                        // alert($(this).children(":submit")[0].value)
                        // $(this).children(":submit")[0].onsubmit = function () {
                        //     alert("提交表单")
                        //     return true;
                        // }
                        $(this).submit();
                        // alert("提交成功")
                    // }
                })
            })

            // 去结账
            let $pay = $(".pay:first");
            $pay.click(function () {
                let cartItemIds = "";

                // 找到所有选中的 bookId
                $(".cart-item-checkbox:checked").each(function () {
                    let id = $(".cart-item-checkbox:checked").siblings(":first").val();
                    cartItemIds += id + ","
                })

                $pay.siblings("[name='bookIds']").val(cartItemIds);
                $pay.siblings("[name='allPrice']").val($("#all-price-span").text())

                $pay.parent().submit();

                return false;
            })
        })
    </script>
</head>
<body>
<div class="header">
    <div class="w">
        <div class="header-left">
            <a th:href="@{page.do?operate=toIndex}">
                <img th:src="@{/static/img/logo.gif}" alt=""/></a>
            <h1>我的购物车</h1>
        </div>
        <div class="header-right">
            <h3>欢迎<span th:text="${session.user.username}"></span>光临尚硅谷书城</h3>
            <div class="order"><a th:href="@{/page.do?operate=toOrder}">我的订单</a></div>
<!--            <div class="destory"><a th:href="@{page.do?operate=toIndex}">注销</a></div>-->
            <div class="gohome">
                <a th:href="@{page.do?operate=toIndex}">返回</a>
            </div>
        </div>
    </div>
</div>
<div class="list">
    <div class="w">
        <table>
            <tr>
                <th>全选</th>
                <th>图片</th>
                <th>商品名称</th>

                <th>数量</th>
                <th>单价</th>
                <th>金额</th>
                <th>操作</th>
            </tr>
            <tr th:each="cartItem : ${session.cartItemList}">
                <td><input type="checkbox" class="cart-item-checkbox"><input type="hidden" th:value="${cartItem.id}"></td>
                <td>
                    <img th:src="${cartItem.book.bookImg}">
                </td>
                <td th:text="${cartItem.book.bookName}"></td>
                <td>

                    <form class="buy-count-form" method="post" th:action="@{/cartItem.do}">
                        <input type="hidden" name="operate" value="cartAddCart">
                        <input type="hidden" name="bookId" th:value="${cartItem.book.id}">
                        <input type="hidden" name="id" th:value="${cartItem.id}">
                        <input type="button" value="-" class="count-minus"/>
                        <input class="count-num" type="text" name="newBuyCount" th:value="${cartItem.buyCount}"/>
                        <input type="button" value="+" class="count-add"/>
                        <input hidden="hidden" type="submit" value="提交表单submit">
                    </form>

                </td>
                <td th:text="${cartItem.book.price}"></td>
                <td class="cart-all-price" th:text="${cartItem.allPrice}"></td>
            </tr>
        </table>
        <div class="footer">
            <div class="footer-left">
                <a href="#" class="clear-cart">清空购物车</a>
                <a th:href="@{page.do?operate=toIndex}">继续购物</a>
            </div>
            <div class="footer-right">
                <div>共<span ></span>件商品</div>
                <div class="total-price">总金额<span id="all-price-span">0</span>元</div>
                <form th:action="@{/cartItem.do}" method="post">
                    <input type="hidden" name="operate" value="pay">
                    <input type="hidden" name="cartItemIds" value="">
                    <input type="hidden" name="allPrice" value="">

                    <a class="pay" th:href="@{/page.do}">去结账</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="w">
        <div class="top">
            <ul>
                <li>
                    <a href="">
                        <img th:src="@{/static/img/bottom1.png}" alt=""/>
                        <span>大咖级讲师亲自授课</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img th:src="@{/static/img/bottom.png}" alt=""/>
                        <span>课程为学员成长持续赋能</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img th:src="@{/static/img/bottom2.png}" alt=""/>
                        <span>学员真是情况大公开</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <dl>
                <dt>关于尚硅谷</dt>
                <dd>教育理念</dd>
                <!-- <dd>名师团队</dd>
                <dd>学员心声</dd> -->
            </dl>
            <dl>
                <dt>资源下载</dt>
                <dd>视频下载</dd>
                <!-- <dd>资料下载</dd>
                <dd>工具下载</dd> -->
            </dl>
            <dl>
                <dt>加入我们</dt>
                <dd>招聘岗位</dd>
                <!-- <dd>岗位介绍</dd>
                <dd>招贤纳师</dd> -->
            </dl>
            <dl>
                <dt>联系我们</dt>
                <dd>http://www.atguigu.com</dd>
                <dd></dd>
            </dl>
        </div>
    </div>
    <div class="down">
        尚硅谷书城.Copyright ©2015
    </div>
</div>
</body>
</html>
