<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>结算页面</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/minireset.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/cart.css}"/>
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
            font-size: 26px;
        }

        .oid {
            color: red;
            font-weight: bolder;
        }
    </style>
	<script type="text/javascript" th:src="@{/static/script/jquery-1.7.2.js}"></script>
</head>
<body>
<div class="header">
    <div class="w">
        <div class="header-left">
            <a href="../index.html">
                <img th:src="@{/static/img/logo.gif}" alt=""
                /></a>
            <span>我的购物车</span>
        </div>
        <div class="header-right">
            <h3>欢迎<span th:text="${session.user.username}"></span>光临尚硅谷书城</h3>
            <div class="order"><a th:href="@{page.do?operate=toOrder}">我的订单</a></div>
            <div class="destory"><a th:href="@{page.do?operate=toIndex&isExit=true}">注销</a></div>
            <div class="gohome">
                <a th:href="@{/page.do?operate=toIndex&isExit=false}">返回</a>
            </div>
        </div>
    </div>
</div>

<div id="main">
    <h1>你的订单已结算，订单号为:<span class="oid" th:text="${session.order.orderNumber}"></span></h1>
</div>

<div id="bottom">
		<span>
			尚硅谷书城.Copyright &copy;2015
		</span>
</div>
</body>
</html>