<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans [
        <!ELEMENT beans (bean*)>

        <!ELEMENT bean (property*)>
        <!ATTLIST bean id ID #REQUIRED>
        <!ATTLIST bean class CDATA #REQUIRED>

        <!ELEMENT property EMPTY>
        <!ATTLIST property name CDATA #REQUIRED>
        <!ATTLIST property ref CDATA #REQUIRED>
        ]>
<beans>

    <bean id="userService" class="book.service.UserService"/>

    <bean id="userController" class="book.controller.UserController">
        <property name="userService" ref="userService"/>
    </bean>

</beans>